
body{

    background-image: url("https://cdn.pixabay.com/photo/2017/12/28/14/00/piglet-3045288__340.jpg" );
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family:fantasy;


}

/* 

.container{
    border:1px solid;
    
     

}
.row{

    border:1px solid;
}
.row div{

    border:1px solid;
} */


.box-shadow {
	background: #dfd2d2;
	color: #000;
	text-align: center;	
	height: 90px;
	display: inline-block;
	box-shadow: #A3A3A3 5px 5px 2px 0px;
    border-radius: 25px;
    top:10px;
}

